<div class="bg2"></div>
<div class="container">
  <br>
  <div class="row-fluid">
    <div class="span10 offsetHalf">
      	
	
    </div>
  </div>
   <br><br><br>
	<div class="row-fluid"><font color="white">
      <h1 class="pull-center"><strong>So...Who Am I?</strong></h1>
	</div>	
  <br><br><br><br>
  <div class="row-fluid">
      	<div class="well">      
          <div class="pull-center">
            <h1>iLearn</h1>
            <h4>
            	I am currently pursuing a Bachelor of Science at the University of Virginia in Computer Science. Since some of that is boring...I am beginning to develop mobile (iOS) and web apps in my free time.
            	Currently I am learning Swift, AngularJS and node.js independently and working with Django, Python and CakePHP in my coursework.
            </h4>
            <br>
            <div class="contain_images">
                <div class="tech_img"><a target="_blank" href="https://developer.apple.com/swift/"><img src="images/swift.png" width="100px"></img></a></div>
                <div class="tech_img"><a target="_blank" href="https://angularjs.org/"><img src="images/angular.png" width="100px"></img></a></div>
                <div class="tech_img"><a target="_blank" href="http://nodejs.org/"><img src="images/nodejs.png" width="250px"></img></a></div>
                <div class="tech_img"><a target="_blank" href="https://www.djangoproject.com/"><img src="images/dj.png" width="95px"></img></a></div>
                <div class="tech_img"><a target="_blank" href="https://www.python.org/"><img src="images/python.png" width="100px"></img></a></div>
                <div class="tech_img"><a target="_blank" href="http://cakephp.org/"><img src="images/cake.png" width="100px"></img></a></div>
            </div>
          </div>
      	</div>
        <div class="well">      
          <div class="pull-center">
            <h1>iPlay</h1>
            <h4>
              I'm always down for a little bit of fun... When I turn the internet off, I enjoy spending time with family and friends-- anything active or outdoors is preferred. I love playing baseball and occasionally basketball (although you don't want me on your team because I'm terrible). I really really really like to win, I've been called compeitive once or twice.
            </h4>
            <br>
          </div>
        </div>
        <div class="well">      
          <div class="pull-center">
            <h1>iEat</h1>
            <h4>
              Food! I love to eat it, cook it, smell it, see it, basically just <code>insert_verb_here</code> it.
            </h4>
            <br>
          </div>
        </div>
                <div class="well">      
          <div class="pull-center">
            <h1>iRoot</h1>
              <div class="contain_images">
                <div class="tech_img"><img src="images/nats_logo.png" width="150px"></img></div>
                <div class="tech_img"><img src="images/skins.png" width="140px"></img></div>
                <div class="tech_img"><img src="images/caps.png" width="200px"></img></div>
                <div class="tech_img"><img src="images/wiz.png" width="140px"></img></div>
                <div class="tech_img"><img src="images/uva.png" width="150px"></img></div>
            </div>
            <br>
          </div>
        </div>
  </font>
</div>