<div class="bg"></div>
<div class="jumbotron text-center">
	<h1>Welcome!</h1>
	
	<h3>{{ tagline }}</h3>
	<div class="baby_break_space">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button type="button" class="btn btn-custom"><a href="/about"><div class="button_text_color"><h4>About Me</h4></div></a></button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-custom"><a href="/about"><div class="button_text_color"><h4>Education</h4></div></a></button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-block-lg btn-custom"><a href="/about"><div class="button_text_color"><h4>Contact</h4></div></a></button>
			</div
	 		
		</div>
	</div>
	
	<div class="break_space">
		<p>Built on <a target="_blank" href="http://mean.io/#!/"><u>MEAN.IO</u></a></code> (MongoDB, Express, AngularJS, Node.js) with some Twitter Bootstrap.
	</div>
</div>

		
