<div class="bg3"></div>
	<div class="well text-center">
		<font color="white"><h1>Austin C. Lamon</h1></font>
		<h2><small>
			<a href="mailto:a.lamon4@gmail.com">Email</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="https://www.linkedin.com/pub/austin-lamon/9b/29b/471/">Linkedin</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="https://github.com/alamon4">Github</a>
		</small></h2>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Technologies I've Used</h3>
	    </div>
	<ul class="list-group">
    	<li class="list-group-item">
    			<h5><strong>Swift</strong>, <strong>AngularJS</strong> (testing with Protractor and Karma), <strong>C++</strong>, <strong>Java</strong>, <strong>Python</strong>, Django Framework, PHP (CakePHP), <strong>HTML</strong>, JavaScript, <strong>CSS</strong>, Mac OS X, Windows, Android, Microsoft Office, Adobe Dreamweaver, <strong>Adobe Photoshop</strong>, Adobe InDesign, Mathamatica, Mathcad</h5>
    	</li>
    </ul>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Some Select Coursework</h3>
    </div>
	<ul class="list-group">
    	<li class="list-group-item">
    			<h5>Algorithms, Theory of Computation, Human-Computer Interaction, E-commerce Technologies, Computer Architecture, Artificial Intelligence, Program & Data Representation, Advanced Software Development Methods, Digital Logic Design, Probability, Linear Algebra, Statistics, Multivariate Calculus</h5>
    	</li>
    </ul>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Engineering Experience</h3>
    </div>
	<ul class="list-group">
    	<li class="list-group-item">
    			<h4>Capital One Digital Technology Intern</h4>
    			<blockquote><h5>Joined agile team to develop new Capital One website using AngularJS framework, HTML, CSS, JS<br>
    			Implemented proof of concepts on considered technologies – integrated selected into existing project<br>
    			Contributed code to GitHub repository to be associate piloted in September</h5></blockquote>
    	</li>
    	 <li class="list-group-item">
    			<h4>UVA Front-end Developer and Web Manager</h4>
    			<blockquote><h5>Design and build out websites for various projects, events, research laboratories and the UVA Engineering School. <br>Train students and staff in webpage development for other UVA sites. <br>Full-time in the summer, part-time throughout the school year</h5></blockquote>
    	</li>
    	<li class="list-group-item">
    			<h4>Lead Contact for Engineering School Sponsored Competition</h4>
    			<blockquote><h5>Designed website, assisted in coordinating promotions, and lead a team to hold and promote a video competition. <br>Combining skills in software development, business marketing, and leadership to earn sponsorship for a student developed idea</h5></blockquote>
    	</li>
    	<li class="list-group-item">
    			<h4>Android App Project</h4>
    			<blockquote><h5>Project Manager in the development of an Android application that provided an interactive tour of UVA Grounds. <br>Application employed Google Maps and a GPS feature to track the user’s current location and provide interactive directions and a brief history at each location. Lead project with undefined requirements on a strict time table. </h5></blockquote>
    	</li>
    </ul>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Leadership & Involvement</h3>
    </div>
	<ul class="list-group">
    	<li class="list-group-item">
    			<h5>Chairman & Editor, UVA International Residential College Weekly Periodical <br>Peer Leader & Advisor, UVA Engineering Student Council Academic & Professional Development Committee <br>Member UVA Club Baseball <br>Role Model & Mentor, Madison House Hope Center for underprivileged elementary school students <br>Helped organized iOS Development Camp Washington D.C. (July 2014)</h5>
    	</li>
    </ul>
</div>