		<div class="bg3"></div>
			<div class="well text-center">
				<font color="white"><h1>Austin C. Lamon</h1></font>
				<h2><small>
					<a href="mailto:a.lamon4@gmail.com">Email</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="https://www.linkedin.com/pub/austin-lamon/9b/29b/471/">Linkedin</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="https://github.com/alamon4">Github</a>
				</small></h2>
			</div>
			<table>
	<td>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Technologies I've Used</h3>
			    </div>
			<ul class="list-group">
		    	<li class="list-group-item">
		    			<table><td><h5><strong>Swift</strong><br><strong>AngularJS</strong><br><strong>C++</strong><br><strong>Java</strong><br><strong>Python</strong><br>Django Framework<br>PHP (CakePHP)<br><strong>HTML</strong><br>JavaScript<br><strong>CSS</strong><br>Mac OS X</td><td>Windows<br>Android<br>Microsoft Office<br>Adobe Dreamweaver<br><strong>Adobe Photoshop</strong><br>Adobe InDesign<br>Mathamatica</h5></td></table>
		    	</li>
		    </ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Some Select Coursework</h3>
		    </div>
			<ul class="list-group">
		    	<li class="list-group-item">
		    			<h5>Algorithms, Theory of Computation, Human-Computer Interaction, E-commerce Technologies, Computer Architecture, Artificial Intelligence, Program & Data Representation, Advanced Software Development Methods, Digital Logic Design, Probability, Linear Algebra, Statistics, Multivariate Calculus</h5>
		    	</li>
		    </ul>
		</div>
	</td>
	<td>
		<div class="pad_left"><img class="img-rounded" src = "/images/scooter.jpg"></img></div>
	</td>
</table>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Leadership & Involvement</h3>
		    </div>
			<ul class="list-group">
		    	<li class="list-group-item">
		    			<h5>&#x2023; Chairman & Editor, UVA International Residential College Weekly Periodical <br>&#x2023; Peer Leader & Advisor, UVA Engineering Student Council Academic & Professional Development Committee <br>&#x2023; Member UVA Club Baseball <br>&#x2023; Role Model & Mentor, Madison House Hope Center for underprivileged elementary school students <br>&#x2023; Helped organized iOS Development Camp Washington D.C. (July 2014)</h5>
		    	</li>
		    </ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Engineering Experience</h3>
		    </div>
			<ul class="list-group">
		    	<li class="list-group-item">
		    			<h4>Capital One Digital Technology Intern</h4>
		    			<blockquote><h5>&#x2023; Joined agile team to develop new Capital One website using AngularJS framework, HTML, CSS, JS<br>&#x2023; 
		    			Implemented proof of concepts on considered technologies – integrated selected into existing project<br>&#x2023; 
		    			Contributed code to GitHub repository to be associate piloted in September</h5></blockquote>
		    	</li>
		    	 <li class="list-group-item">
		    			<h4>UVA Front-end Developer and Web Manager</h4>
		    			<blockquote><h5>&#x2023; Design and build out websites for various projects, events, research laboratories and the UVA Engineering School. <br>&#x2023; Train students and staff in webpage development for other UVA sites. <br>&#x2023; Full-time in the summer, part-time throughout the school year</h5></blockquote>
		    	</li>
		    	<li class="list-group-item">
		    			<h4>Lead Contact for Engineering School Sponsored Competition</h4>
		    			<blockquote><h5>&#x2023; Designed website, assisted in coordinating promotions, and lead a team to hold and promote a video competition. <br>&#x2023; Combining skills in software development, business marketing, and leadership to earn sponsorship for a student developed idea</h5></blockquote>
		    	</li>
		    	<li class="list-group-item">
		    			<h4>Android App Project</h4>
		    			<blockquote><h5>&#x2023; Project Manager in the development of an Android application that provided an interactive tour of UVA Grounds. <br>&#x2023; Employed Google Maps API to track the user’s current location, provide interactive directions and a brief history at each location.<br>&#x2023; Lead project with undefined requirements on a strict time table. </h5></blockquote>
		    	</li>
		    </ul>
		</div>